<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.note.mapper.NoteMapper">

    <resultMap type="Note" id="NoteResult">
        <result property="id" column="id"/>
        <result property="filename" column="filename"/>
        <result property="isDirectory" column="is_directory"/>
        <result property="parentId" column="parent_id"/>
        <result property="isTop" column="is_top"/>
        <result property="isShare" column="is_share"/>
        <result property="isFavorite" column="is_favorite"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectNoteVo">
        select id,
               filename,
               is_directory,
               parent_id,
               is_top,
               is_share,
               is_favorite,
               is_deleted,
               user_id,
               create_by,
               create_time,
               update_time,
               update_by,
               remark
        from note
    </sql>

    <select id="selectNoteList" parameterType="Note" resultMap="NoteResult">
        <include refid="selectNoteVo"/>
        <where>
            <if test="filename != null  and filename != ''">and filename like concat('%', #{filename}, '%')</if>
            <if test="isDirectory != null ">and is_directory = #{isDirectory}</if>
            <if test="parentId == null">and parent_id is null</if>
            <if test="parentId != null">and parent_id = #{parentId}</if>
            and ifnull(is_deleted,0)!=1
            <if test="isTop != null ">and is_top = #{isTop}</if>
            <if test="isFavorite != null ">and is_favorite = #{isFavorite}</if>
            <if test="isShare != null ">and is_share = #{isShare}</if>
            <if test="isDeleted != null ">and is_deleted = #{isDeleted}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            order by is_directory desc
        </where>
    </select>

    <select id="selectNoteById" parameterType="String" resultMap="NoteResult">
        <include refid="selectNoteVo"/>
        where id = #{id}
    </select>
    <select id="findParentId" resultType="java.lang.String">
        select parent_id
        from note
        where id = #{id}
    </select>
    <select id="findChildren" resultType="com.ruoyi.note.domain.Note">
        select * from note where ifnull(is_deleted,'')='' and parent_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertNote" parameterType="Note" useGeneratedKeys="true" keyProperty="id">
        insert into note
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">id,</if>
            <if test="filename != null and filename != ''">filename,</if>
            <if test="isDirectory != null">is_directory,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="isShare != null">is_share,</if>
            <if test="isTop != null">is_top,</if>
            <if test="isFavorite != null">is_favorite,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="userId != null">user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">#{id},</if>
            <if test="filename != null and filename != ''">#{filename},</if>
            <if test="isDirectory != null">#{isDirectory},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="isShare != null">#{isShare},</if>
            <if test="isTop != null">#{isTop},</if>
            <if test="isFavorite != null">#{isFavorite},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="userId != null">#{userId},</if>
        </trim>
    </insert>

    <update id="updateNote" parameterType="Note">
        update note
        <trim prefix="SET" suffixOverrides=",">
            <if test="filename != null and filename != ''">filename = #{filename},</if>
            <if test="isDirectory != null">is_directory = #{isDirectory},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="parentId == null">parent_id = null,</if>
            <if test="isShare != null">is_share = #{isShare},</if>
            <if test="isTop != null">is_top = #{isTop},</if>
            <if test="isFavorite != null">is_favorite = #{isFavorite},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNoteById" parameterType="String">
        update note
        set is_deleted=1
        where id = #{id}
    </delete>

    <delete id="deleteNoteByIds" parameterType="String">
        update note set is_deleted=1 where id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>